// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}
footer {
    margin-top: auto;
}
li {
    text-transform: none;
}
.search input {
    border-top-left-radius: 80px !important;
    border-bottom-left-radius: 80px !important;
}
.search-btn {
    border-top-right-radius: 80px !important;
    border-bottom-right-radius: 80px !important;
}
.search {
    width: 500px;
}

.search-btn {
    background-color: white;
    border: 1px solid #eaeaea;
}

.nav-cont {
    gap: 50px;
}

.section1 {
    padding: 200px 0;
    background: url("food.jpg") no-repeat center/cover;
}

.section2 {
    padding: 100px 0;
    background-color: #f8f9fa;
}
.section3 {
    padding: 50px 0 0;
    background-color: #eff0f2;
}

.categoryCard {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    background-color: #dfd1bf;
    border: 1px solid #dee2e6;
}

img {
    width: 100%;
}

.recipeImg {
    height: 190px;
    width: 190px;
    padding: 10px;
    margin: 0;
}

.fa,
.fas {
    font-size: 35px;
}

.addNew input,
.addNew select,
.addNew textarea {
    background-color: white;
}

.btn-primary {
    background-color: rgb(28, 28, 28);
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(68, 68, 68);
}

.recipeCard {
    border: 1px solid #eaeaea;
}

a {
    text-decoration: none;
}

footer {
    background-color: #dfd1bf;
}

footer p,
footer a {
    color: rgb(28, 28, 28);
}

.logo {
    width: 40px;
}

.shadow {
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}

.breadcrumb a {
    color: rgb(28, 28, 28);
}

.login-card {
    max-width: 100%;
    margin: 0 auto;
}

.loginBackground,
.registerBackground {
    background: url("breakfast.jpg") no-repeat center/cover;
    height: 500px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.registerBackground {
    background: url("registerPic.jpg") no-repeat center/cover;
}

.loginHeader {
    margin-left: 100px;
}

.rcard {
    width: 200px;
}

.recipeCard a {
    color: rgb(28, 28, 28);
}
